@charset "utf-8";
/* CSS Document */
body{ background-color: #f2f2f2;}
.rr-content{
	padding: 60px 0 100px 0;
	background-color: #f2f2f2;
}
.rr-goods{
	margin: auto;
	
}
.rr-table{
	margin:8px auto 0  auto;
	width: 310px;
}
.rr-td-01{
	padding-right: 5%;
	width: 30%;
	text-align: right;
	font-size: 12px;
	color: #666;
}
.rr-table td{
	height: 40px
}
.rr-area{
	margin-top: 6px;
	width: 170px;
	height: 70px;
	resize: none;
}
.rr-input-01{
	width: 170px;
}
/*下拉选项间距*/
.rr-select{
	padding: 0;
	height: 30px;
	
	
}
.rr-select>li{
	position: relative;
	padding-left: 5px;
	width: 168px;
	height: 28px;
	line-height: 30px;
	text-align: left;
	display: none;
	cursor: pointer;
	background-color: white;
	
}
.rr-select>li:nth-child(1){
	display: block;
	
}

.rr-td-02>span{
	display: none;
}
.rr-td-02>span:nth-child(1){
	display: block;
	
}
.lhgcal{
	
	z-index: 9999;
}