@charset "utf-8";
/* CSS Document */
body{
	background-color: #f2f2f2;
}
body{
	background-color: #f2f2f2;
}
.sg-content{
	padding: 60px 5px 43px 5px;
	background-color: #f2f2f2;
}

.sg-h1{
	padding-top:10px;
	font-size: 22px;
	font-family: "微软雅黑";
	line-height: 40px;
	color: #000;
}
.sg-p{
	font-size: 14px;
	float: right;
	color: #666;
	font-weight: 500;
	
}
