@charset "utf-8";
/* CSS Document */
html,body{
	height: 100%;
	width: 100%;
}
.success{
	position: relative;
	height:100%;
	width: 100%;
	background-image:url(../img/success/success-06.png);
}
.success-img-01{
	position: absolute;
	left: 23%;
	top: 30%;
	width: 53%;
}
.success-img-02{
	position: absolute;
	left: 12%;
	bottom: 5%;
	width: 73%;
}