<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/success.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<title>homepage</title>
</head>

<body>
	<div class="success">
    	<!--以下是头部-->
        
        <!--以上是头部-->
        <!--以下是中间内容-->
        <img class="success-img-01" src="./resource/scbridge/img/failure/failure-cancel.png">
        <!--以上是中间内容-->
        
        
       <!--以下是浮动的底部-->
       
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
<script>
$(function(){
	var a=function aHref()
	{
		window.history.back(-1);
	}
	window.setTimeout(a,3000);
	//alert(1);
})
</script>