<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script> 		
  	   <!--以下是浮动的底部-->
       <div class="public-foot">
       		<a href="#"><img class="public-foot-01" src="./resource/scbridge/img/member-center_16.png"></a>
            <a href="#"><img class="public-foot-02" src="./resource/scbridge/img/member-center_17.png"></a>
            <a href="#"><img class="public-foot-03" src="./resource/scbridge/img/member-center_18.png"></a>
       </div>
       <!--以上是浮动的底部 -->