<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/homepage.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<title>homepage</title>
</head>

<body>
	<div class="hp-father">
        <!--以下是顶部轮播图-->
        <div class="hp-head"></div>
        <!--以上是顶部轮播图-->
        <!--以下是跳转页面-->
        <div class="hp-body">
        	<div class="hp-b-head">
            	<a href="./index.php?act=module&name=scbridge&do=hotel_center"><div class="hp-b-h-01 fl"></div></a>
                <a href="./index.php?act=module&name=scbridge&do=member_rigister"><div class="hp-b-h-02 fr"></div></a>
                <a href="#"><div class="hp-b-h-03 fr"></div></a>
            </div>
            <div class="hp-b-body">
            	<a href="#"><div class="hp-b-b-01 fl"></div></a>
                <a href="./index.php?act=module&name=scbridge&do=member_center"><div class="hp-b-b-02 fr"></div></a>
                <a href="#"><div class="hp-b-b-03 fl"></div></a>
            </div>
            <a href="#"><div class="hp-b-foot"></div></a>
            <div class="clear"></div>
        </div>
        <!--以上是跳转页面-->
        <div class="clear"></div>
	</div>
</body>
</html>
