<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/homepage.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link href="./resource/scbridge/css/slides_home.css" rel="stylesheet"/>
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<script type="text/javascript" src="./resource/scbridge/js/module/homepage.js"></script>
<script src="./resource/scbridge/js/jquery.slides.min.js"></script>
<title>homepage</title>
</head>

<body>
	<div class="father" style="background-color:black; height:100%;">
        <div class="head" >
            <div id="slides" style="position:relative;">
              <img src="./resource/scbridge/img/homepage/homepage_01.png">
              <img src="./resource/scbridge/img/homepage/homepage_01.png">
              <img src="./resource/scbridge/img/homepage/homepage_01.png">
            </div>
        </div>
        <div class="content" style="padding:2%;">
        	<div class="content-t">
            	<a  href="./index.php?act=module&name=scbridge&do=hotel_center"><img class="fl" style="width:52.5%;" src="./resource/scbridge/img/homepage/homepage_02.png"/></a>
            	<a  href="./index.php?act=module&name=scbridge&do=vip_register"><img class="fr" style="width:46%; margin-bottom:2%;" src="./resource/scbridge/img/homepage/homepage_03.png"/></a>
                <a  href="./index.php?act=module&name=scbridge&do=meeting_center"><img class="fr" style="width:46%;" src="./resource/scbridge/img/homepage/homepage_04.png"/></a>
                <div class="clear"></div>
            </div>
            <div class="content-c" style="margin-top:2%; margin-bottom:2%;">
          		<a href="./index.php?act=module&name=scbridge&do=shop_center"><img class="fl" style=" width:52.5%; margin-bottom:2%;" src="./resource/scbridge/img/homepage/homepage_05.png" /></a>
                <a href="./index.php?act=module&name=scbridge&do=member_center"><img class="fr" style=" width:46%;" src="./resource/scbridge/img/homepage/homepage_07.png" /></a>
                <a href="tel:18628019101"><img class="fl" style=" width:52.5%;" src="./resource/scbridge/img/homepage/homepage_06.png" /></a>
                <div class="clear"></div>
            </div>
            <div class="content-f">
            	<img style=" width:100%;" src="./resource/scbridge/img/homepage/homepage_08.png" />
            </div>
        </div>
	</div>
</body>
</html>
