<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/hotel-reserve.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
</head>
<body>
	<div class="ma">
    	
        <!--以下是中间内容-->
        <div class="hr-content">
        	<div class="hr-goods">
            	<h1 class="hr-h1">{$hotel['name']}</h1>
            	<img width="100%" src="{$_W['attachurl']}{$hotel['icon']}">
            	<ul class="hr-ul">
                	<li>等级：<span>{$hotel['level']}</span></li>
                    <li>地址：<span>{$hotel['address']}</span></li>
                    <li>参考价（每天）：<span>{$hotel['pr_min']}</span>&nbsp;元&nbsp;~&nbsp;<span>{$hotel['pr_max']}</span>&nbsp;元</li>
                    <li class="hr-li">
                    	<p>
                       		{$hotel['description']}
                        </p>
                    </li>
                </ul>
            </div>
            
            
        </div>
        
        <!--以上是中间内容-->
        
        <!--以下是预定-->
        <div class="public-reserve">
        	<a href="./index.php?act=module&name=scbridge&do=hotel_booking&h_id={$hotel['id']}"><img class="public-btn-reserve" src="./resource/scbridge/img/hotel-reserve_03.png"></a>
        </div>
        <!--以上是预定-->
       
</div>
</body>
</html>
