<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<title>homepage</title>
<style type="text/css">
body{
	margin-top: 64px;
	margin-bottom: 100px;
}
</style>
</head>

<body>
	<div class="ma">
    	<!--以下是头部-->
        <div class="public-head-father">
            <div class="public-head">
                <a href="member-product.html"><img class="public-left"  src="./resource/scbridge/img/header-left.png"></a>
                酒店预定
            </div>
        </div>
        <!--以上是头部-->
        <!--以下是中间内容-->
        <div class="hr-content">
        	<img style="width:100%;" src="./resource/scbridge/img/hotel-reserve/hotel-reserve_01.png">
        </div>
        
        <!--以上是中间内容-->
        
        <!--以下是预定-->
        <div class="public-reserve">
        	<a href="register.html"><img class="public-btn-reserve" src="./resource/scbridge/img/hotel-reserve_03.png"></a>
        </div>
        <!--以上是预定-->
       <!--以下是浮动的底部-->
       <div class="public-foot">
       		<a href="#"><img class="public-foot-01" src="./resource/scbridge/img/member-center_16.png"></a>
            <a href="#"><img class="public-foot-02" src="./resource/scbridge/img/member-center_17.png"></a>
            <a href="#"><img class="public-foot-03" src="./resource/scbridge/img/member-center_18.png"></a>
       </div>
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
