<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/room-reserve.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/lhgcalendar.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<script type="text/javascript" src="./resource/scbridge/js/lhgcore.min.js"> </script>
<script type="text/javascript" src="./resource/scbridge/js/lhgcalendar.min.js"> </script>
<script type="text/javascript" src="./resource/scbridge/js/public.js"> </script>
</head>

<body>
	<div class="ma">
    	<!--以下是头部-->
        <div class="public-head-father" style="position:relative; left:0; top:0;">
            <div class="public-head">
                <img class="public-left"  src="./resource/scbridge/img/header-left.png" onclick="javascript:window.history.back(-1);">
                会议预定填写
            </div>
        </div>
        <!--以上是头部-->
        
        
        <!--以下是中间内容-->
        <div class="rr-content" style="padding:20px 0;">
        	
            <div class="rr-goods">
            <form class="uk-form uk-form-horizontal" method="post" id="applyform" action="./index.php?act=module&name=scbridge&do=reserveDo">
            	<table class="rr-table" cellpadding="0" cellspacing="0">
                	<input type="hidden" name="reserveType" value="meetingRoom">
                	<input type="hidden" name="hotelId" value="{$h_id}">
                	<tr>
                    	<td class="rr-td-01">会议日期</td>
                        <td><input class="rr-input-01" id="cal1" name="startDate"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">结束日期</td>
                        <td><input class="rr-input-01" id="cal2"  name="endDate"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">议厅名称</td>
                        <td>
                        	<select class="rr-input-01 textfocus" name="roomType" id='selectRoom'>
                            	{loop $meetingType $re}
                            		<option value="{$re['id']}" class="meetingRoom_{$re['id']}">{$re['name']}</option>
                            	{/loop}
                            </select>
                        	
                        </td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">房间数量</td>
                        <td>
                            <select class="rr-select  rr-input-01 textfocus" name="roomsNumber">
                            	<option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10">10</option>
                            </select>
                        	
                        </td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01" style="color:red; height:20px;"></td>
                        <td class="rr-td-02" style="color:red; height:20px;">
                        	{loop $meetingType $re}
                            		<span id="meetingRoom_{$re['id']}" class='meetingRoom'>(该厅最大容纳{$re['max_number']}人)</span>
                            {/loop}
                            
                        </td>
                    </tr>
                    <script>
                    	$(function(){
                    		function conRoom(){
                    			$('.meetingRoom').hide();
                    			var meetingClassName=$('select[name=roomType]').find("option:selected").attr('class');
                    			$("#"+meetingClassName).show();
                    		}
                    		conRoom();
                    		$('#selectRoom').change(function(){
                    			conRoom();
                    		})
                    		
                    	})
                    </script>
                    <tr>
                    	<td class="rr-td-01">姓<span style="color:transparent;">备注</span>名</td>
                        <td><input class="rr-input-01" value="{$result['name']}" name="customerName"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">手<span style="color:transparent;">备注</span>机</td>
                        <td><input class="rr-input-01" value="{$result['mobile']}" name="customerTel"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">备<span style="color:transparent;">备注</span>注</td>
                        <td><textarea class="rr-area textfocus">选填项</textarea></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01"></td>
                        <td style="height:80px;">
                        		<button  id="submitBtn" type="submit" style='width:50%;height:35px;font-size:16px;color:#fff;background:#ff9c00;border:0px;border-radius:3px;margin-top:5px;'>预订</button> 	
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            
            
        </div>
        
        <!--以上是中间内容-->
        
        
        
        <!--以下是预定-->
        <!--以上是预定-->
        
        
       <!--以下是浮动的底部-->
       <div class="public-foot" style="position:relative; left:0; top:0;">
       		<a href="tel:13982054177"><img class="public-foot-01" src="./resource/scbridge/img/member-center_16.png"></a>
            <img class="public-foot-02" src="./resource/scbridge/img/member-center_17.png">
            <img class="public-foot-03" src="./resource/scbridge/img/member-center_18.png" onclick="javascript:window.location='./index.php?act=module&name=scbridge&do=index';">
       </div>
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
