<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="css/member-cancel.css" />
<link rel="stylesheet" type="text/css" href="css/public.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<title>homepage</title>
</head>

<body>
	<div class="mca">
    	<!--以下是头部-->
        <div class="public-head-father">
        	<div class="public-head">
                <a href="member-center.html"><img class="public-left"  src="img/header-left.png"></a>
                取消预订
            </div>
        </div>
        <!--以上是头部-->
        <!--以下是中间内容-->
        <div class="mca-content">
        	<div class="mca-img">
        		<img style="width:69%;" src="img/member-cance/member-cancel_01.png">
            </div>
            <table class="mca-table" cellpadding="0" cellspacing="0">
            	<tr>
                	<td class="mca-td-01"><span class="mca-span-01">城市名人酒店</span></td>
                </tr>
                <tr>
                	<td class="mca-td-01"><span>6月9日</span></td>
                </tr>
            </table>
            <textarea class="mca-write">求告诉我为什么（选填）</textarea>
        </div>
        <div class="mca-foot">
        	<table class="mca-table-02" cellpadding="0" cellspacing="0">
            	<tr>
                	<td>
                    	<a href="success-cancel.html"><img style="width:29%; cursor:pointer;" src="img/member-cance/member-cancel_02.png" ></a>
                        <a href="member-center.html"><img style="width:29%; cursor:pointer;" src="img/member-cance/member-cancel_03.png" ></a>
                    </td> 
                <tr>
                <tr>
                	<td>
                    	<a href="#"><img style="width:60%;" src="img/member-cance/member-cancel_04.png"></a>
                    </td>
                </tr>
            </table>
        </div>
        
        <!--以上是中间内容-->
        
        
       <!--以下是浮动的底部-->
       <div class="public-foot">
       		<a href="#"><img class="public-foot-01" src="img/member-center_16.png"></a>
            <a href="#"><img class="public-foot-02" src="img/member-center_17.png"></a>
            <a href="#"><img class="public-foot-03" src="img/member-center_18.png"></a>
       </div>
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
