<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/member-product.css"/>
</head>

<body>
  <div class="ma" style="height:100%">
    <div class="toubu" style="padding-top:64px;background:#fff;height:20%;text-align:right; display:table; margin-bottom: -10px;">
    <div style="display:table-cell;height:100%;width:100%; height: 48px; vertical-align: middle;background:#ddd;position:relative;top:-2px;">	
<form class="uk-form uk-form-horizontal" method="post" id="applyform" action="./index.php?act=module&name=scbridge&do=hotel_center">
 	<input type='hidden' name='select_type' value='normalRoom'>
 	<select style="height:30px; padding:0 5px; line-height:30px;margin-right:10px;width:80px;border:0px dashed #999;" name='region'>
      	<option value='0'>	
      		选择区域
      	</option>
      	<option value='1' 
      				{if $region=='1'}
						selected='selected'
					{else}
					{/if}>金牛区
		</option>
		<option value='2' 
					{if $region=='2'}
						selected='selected'
					{else}
					{/if}>锦江区
		</option>
		<option value='3' 
					{if $region=='3'}
						selected='selected'
					{else}
					{/if}>青羊区
		</option>
		<option value='4' 
					{if $region=='4'}
						selected='selected'
					{else}
					{/if}>成华区
		</option>
		<option value='5' 
					{if $region=='5'}
						selected='selected'
					{else}
					{/if}>高新区
		</option>
		<option value='6' 
					{if $region=='6'}
						selected='selected'
					{else}
					{/if}>武侯区
		</option>
		<option value='7' 
					{if $region=='7'}
						selected='selected'
					{else}
					{/if}>其它区
		</option>
      </select>
      <select style="height:30px; padding:0 5px; line-height:30px; margin-right:10px;width:80px;border:0px dashed #999;" name='level'>
      	<option value='0'>	
      		选择星级
      	</option>
      	<option value='1' 
      				{if $level=='1'}
						selected='selected'
					{else}
					{/if}>4星
		</option>
		<option value='2' 
      				{if $level=='2'}
						selected='selected'
					{else}
					{/if}>精品
		</option>
		<option value='3' 
      				{if $level=='3'}
						selected='selected'
					{else}
					{/if}>5星
		</option>
		<option value='4' 
      				{if $level=='4'}
						selected='selected'
					{else}
					{/if}>奢华
		</option>
      </select>
      <input type='submit' style="position:relative; top:-3px;border-radius:5px !important; box-sizing:border-box; height:31px;background:#999;" value='搜索'/">
</form>
    </div>
    </div>
       
   {if count($hotels)<= 0}
   			对不起，没有该类酒店
   {else}
    
    {loop $hotels $re}
   
     <div class="zhongjian" >
      <a href="./index.php?act=module&name=scbridge&do=hotel_content&h_id={$re['id']}">
      <div class="fangjian"><img style=" width:100%; height:100%;" src="{$_W['attachurl']}{$re['icon']}" ></div>
      <div class="wenbeng"><h3 style='margin-bottom:5px;'>{$re['name']}</h3>
      	{php print_r($re['description'])}
      </div>
      </a>
      <div class="mp-foot-father">
      	<div class="mp-foot">
        	<span class="mp-span-01">预订价&yen;<span>{$re['price_normal']}</span></span>
            <p class="mp-p1">
            	<span class="mp-span-bold">&yen;</span><span class="mp-span-01">{$re['price_vip']}</span><br>
                	会员价
            </p>
            <a href="./index.php?act=module&name=scbridge&do=hotel_booking&h_id={$re['id']}"><img class="mp-img" style="width:80px;" src="./resource/scbridge/img/member-product/member- product_04.png"></a>
        </div>
      </div>
      
    </div>
   
    {/loop}
    {/if}
    
    <div style="height:60px;"></div>
       
</div>
</body>
</html>
