<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/member-center.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<script type="text/javascript" src="./resource/scbridge/js/member_center.js"></script>
</head>

<body>
	<div class="mc">
    	<!--以下是会员-公用头部-->
        <div class="mp-head">
        	<a href="member-center.html"><img class="mp-h-img" src="{$img_url}"></a>
            <p class="mp-h-p">
            	<span class="mp-name">{$result['name']}</span>
                <span class="mp-h-div">VIP 会员</span>
            </p>
        </div>
        <!--以上是会员-公用头部-->
        <!--以下是当前余额·充值·修改信息。-->
        <div class="mc-list">
        	<ul class="mc-ul-01">
            	<li>
                	<ul class="mc-ul-02">
                    	<li>当前余额</li>
                        <li><span class="mc-red-16" style='position:relative;top:-3px;'>
                        	{if $result['status']==0}
                        		<a style="color:red;font-size:8px;">请先充值</a>
                        	{else}
                        		 {$result['account_balance']}
                        	{/if}
                       </span></li>
                    </ul>
                </li>
                <li>
                	<ul class="mc-ul-02">
                    	<li>充值</li>
                        <li><a href="./index.php?act=module&name=scbridge&do=member_charge&user_id={$result['id']}"><img src="./resource/scbridge/img/member-center/member-center_04.png"></a></li>
                    </ul>
                </li>
                <li style="border:none;">
                	<ul class="mc-ul-02">
                    	<li>修改信息</li>
                        <li><a href="./index.php?act=module&name=scbridge&do=reset_msg&user_id={$result['id']}"><img src="./resource/scbridge/img/member-center/member-center_05.png"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--以上是当前余额·充值·修改信息。-->
        <!--以下是中间内容-->
        
        
        <div class="mc-content">
        	<div class="mc-c-top">
            	<span style="margin-left:10%;font-size:16px;">历史消费</span>
            	<select style="margin-left:45%;height:30px;border:0px solid #999;" id="select_record">
            		<option value='1'>酒店记录</option>
            		<option value='2'>商品记录</option>
            	</select>
            </div>
            
            <div id="hotel_record">
            {loop $booking1 $br}
            <div class="mc-goods">
            	<ul class="mc-ul-03">
                	<li class="mc-li-01"><a href="./index.php?act=module&name=scbridge&do=hotel_content&h_id={$br['hotel']}"><img class="mc-goods-img" src="{$_W['attachurl']}{$br['img']}"></a></li>
                    <li class="mc-li-02">
                    	<ul class="mc-ul-04">
                        	<li>{$br['name']}<a style="font-size:8px;line-height:10px;">({$br['lastupdate']})</a></li>
                            <li class="mc-li-04">
                            	<img src="./resource/scbridge/img/member-center/member-center_08.png"/>
                                <img src="./resource/scbridge/img/member-center/member-center_09.png"/>
                                <img src="./resource/scbridge/img/member-center/member-center_10.png"/>
                                <img src="./resource/scbridge/img/member-center/member-center_11.png"/>
                                <img src="./resource/scbridge/img/member-center/member-center_12.png"/>                                
                            </li>
                            <li class="mc-li-05"> 宽带|国际长途|24小时热水|服务</li>
                           
                        </ul>
                    </li>
                    <li class="mc-li-03">
                    	<ul>
                        	<li>
                            	<span class="mc-span" ><span class="mc-16">{$br['total_price']}</span>&yen;</span>
                            	<img style="width:16px; height:16px; float:right;" src="./resource/scbridge/img/member-center/member-center_13.jpg">    
                            </li>
                            <li></li>
                            <li><a href="./index.php?act=module&name=scbridge&do=room_cancel&bookingid={$br['id']}&type=hotel"><img style=" margin-top:5px; float:right; width:50px; height:17px;" src="./resource/scbridge/img/member-center/member-center_15.png" onclick="return confirm('你要取消该预定?');return false;"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {/loop}
            </div>
            
            
            <div id="goods_record" style="display:none;">
             {loop $booking2 $br}
            <div class="mc-goods">
            	<ul class="mc-ul-03">
                	<li class="mc-li-01"><a href="./index.php?act=module&name=scbridge&do=shop_center"><img class="mc-goods-img" src="{$_W['attachurl']}{$br['img']}"></a></li>
                    <li class="mc-li-02">
                    	<ul class="mc-ul-04">
                        	<li>{$br['name']}<a style="font-size:8px;line-height:10px;">({php echo(substr($br['lastupdate'],0,9))})</a></li>
                            <li class="mc-li-05" style="line-height:12px;width:90%;">{php echo(mb_substr($br['dis'],0,50,'utf-8'))}</li>
                        </ul>
                    </li>
                    <li class="mc-li-03">
                    	<ul>
                        	<li>
                            	<span class="mc-span" ><span class="mc-16">{$br['total_price']}</span>&yen;</span>
                            	<img style="width:16px; height:16px; float:right;" src="./resource/scbridge/img/member-center/member-center_13.jpg">    
                            </li>
                            <li></li>
                             
                            	<li><img style=" margin-top:5px; float:right; width:50px; height:17px;" src="./resource/scbridge/img/member-center/success_pay.jpg"></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            {/loop}
           </div>
            
           
            
           
        </div>
        <!--以上是中间内容-->

        
       <!--以下是浮动的底部-->
       <div style="height:43px;"></div>
       
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
