<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/member-pay.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<title>homepage</title>
</head>

<body>
	<div class="mp" style="height:100%;">
    	<!--以下是会员-公用头部-->
        <div class="mp-head">
        	<a href="member-center.html"><img class="mp-h-img" src="./resource/scbridge/img/member-center_103.png"></a>
            <p class="mp-h-p">
            	<span class="mp-name">瞎子楠</span>
                <span class="mp-h-div">VIP 会员</span>
            </p>
        </div>
        <!--以下是会员-公用头部-->
        <!--以下是中间内容-->
        <div class="mp-content" style="height:80%;">
        	<img class="mp-c-img" src="./resource/scbridge/img/member-pay/member-pay_01.png">
            <div class="mp-c-div">
            	<table class="mp-table" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td class="mp-td-01">当前余额</td>
                        <td class="mp-td-02">
                        	<img style="width:25%; margin:0 4px 0 8px;" src="./resource/scbridge/img/member-center_03.png">
                        	<span class="mp-red">3569</span>
                        </td>
                    </tr>
                    <tr>
                    	<td class="mp-td-03" colspan="2">
                        	<input class="mp-number" type="number"> <span class="mp-span-01">万</span>
                        </td>
                    </tr>
                    <tr>
                    	<td class="mp-td-03" colspan="2">
                        	<img style="width:39%;" src="./resource/scbridge/img/member-pay/member-pay_02.png" onclick="alert('充值成功!')">
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
        <!--以上是中间内容-->
        
        
       
        
</div>
</body>
</html>
