<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="css/member-alter.css" />
<link rel="stylesheet" type="text/css" href="css/public.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<title>homepage</title>
</head>

<body>
	<div class="ma">
    	<!--以下是头部-->
        <div class="public-head-father">
        	<div class="public-head">
                <a href="member-center.html"><img class="public-left"  src="img/header-left.png"></a>
                会员中心
            </div>
        </div>
        <!--以上是头部-->
        <!--以下是中间内容-->
        <div class="ma-content">
            <table class="ma-table" cellpadding="0" cellspacing="0">
            	<tr>
                	<td class="ma-td2"><img style="width:46%" src="img/member-alter/member-alter_02.png"></td>
                </tr>
                <tr>
                	<td class="ma-td1" style="padding-top:12%;">手机号 : <input class="ma-input" type="telephone"></td>
                </tr>
                <tr>
                    <td class="ma-td1">姓&nbsp;&nbsp;名 : <input class="ma-input /*ma-input-false*/" type="text"></td>
                </tr>
                <tr>
                    <td class="ma-td1"><img style="width:36%" src="img/member-alter/member-alter_04.png"></td>
                </tr>
                <tr>
                    <td class="ma-td1">
                    	<a href="success-alter.html"><img style="width:57%;" src="img/member-alter/member-alter_03.png"><a>
                    </td>
                </tr>
            </table>
         </div>
        
        <!--以上是中间内容-->
        
        
       <!--以下是浮动的底部-->
       <div class="public-foot">
       		<a href="#"><img class="public-foot-01" src="img/member-center_16.png"></a>
            <a href="#"><img class="public-foot-02" src="img/member-center_17.png"></a>
            <a href="#"><img class="public-foot-03" src="img/member-center_18.png"></a>
       </div>
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
