<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/member-alter.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
</head>

<body>
	<div class="ma">
    	
        <!--以下是中间内容-->
        <div class="ma-content">
        	<form class="uk-form uk-form-horizontal" method="post" id="applyform" action="./index.php?act=module&name=scbridge&do=registerdo">
            <table class="ma-table" cellpadding="0" cellspacing="0">
            	<tr>
                	<td class="ma-td2"><img style="width:46%;" src="./resource/scbridge/img/register/register_01.png">
                		<input type='hidden' name='user_id' value="{$result['id']}">
                	</td>
                </tr>
                <tr>
                	<td class="ma-td1" style="padding-top:12%;">手机号 : <input class="ma-input" type="telephone" name='user_tel' value="{$result['mobile']}"></td>
                </tr>
                <tr>
                    <td class="ma-td1">姓&#12288;名 : <input class="ma-input /*ma-input-false*/" type="text" name='user_name' value="{$result['name']}"></td>
                </tr>
                <tr>
                    <td class="ma-td1">邮&#12288;箱 : <input class="ma-input /*ma-input-false*/" type="text" name='user_email' value="{$result['email']}"></td>
                </tr>
                <tr>
                    <td class="ma-td1">
                   			<button  id="submitBtn" type="submit" style='width:50%;height:35px;font-size:16px;color:#fff;background:#ff9c00;border:0px;border-radius:3px;margin-top:5px;'>{$reminder}</button> 	
                    </td>
                </tr>
            </table>
            </form>
         </div>
        
        <!--以上是中间内容-->
        
        
       <!--以下是浮动的底部-->
      
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
