<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="css/member-alter.css" />
<link rel="stylesheet" type="text/css" href="css/public.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<style type="text/css">
body{ margin:0 !important;}
</style>

<body>
	<div class="ma">
    	<!--以下是头部-->
        <!--<div class="public-head-father">
        	<div class="public-head">
                <a href="#"><img class="public-left"  src="img/header-left.png"></a>
                会员中心
            </div>
        </div>-->
        <!--以上是头部-->
        <!--以下是中间内容-->
        <div class="ma-content">
            <table class="ma-table" cellpadding="0" cellspacing="0">
            	<tr>
                	<td class="ma-td2"><img style="width:57%;" src="img/register-win/register-win_03.png"></td>
                </tr>
                <tr>
                    <td class="ma-td1">
                    	<a href="success-reserve.html" ><img style="width:57%; margin:20% 0 5% 0;" src="img/register-win/register-win_01.png"><a>
                    </td>
                </tr>
                <tr>
                    <td class="ma-td1">
                    	<a href="member-pay.html"><img style="width:57%; margin:0;" src="img/register-win/register-win_02.png"><a>
                    </td>
                </tr>
            </table>
         </div>
</div>
</body>
</html>
