<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/hotel-reserve.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<title>homepage</title>

</head>

<body>
	<div class="ma">
    	<!--以下是头部-->
        <div class="public-head-father">
            <div class="public-head">
                <a href="member-product.html"><img class="public-left"  src="./resource/scbridge/img/header-left.png"></a>
                房间预定
            </div>
        </div>
        <!--以上是头部-->
        
        
        <!--以下是中间内容-->
        <div class="rr-content">
            <div class="rr-goods">
            	<img width="100%" src="./resource/scbridge/img/hotel-reserve/hotel-reserve_02.png">
            	<table class="rr-table" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td class="rr-td-01">会议日期</td>
                        <td><input class="rr-input-01"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">结束日期</td>
                        <td><input class="rr-input-01"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">手机号码</td>
                        <td><input class="rr-input-01"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">您的姓名</td>
                        <td><input class="rr-input-01"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">会议人数</td>
                        <td><input class="rr-input-01"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">厅名称</td>
                        <td><input class="rr-input-01"/></td>
                    </tr>
                    <tr>
                    	<td class="rr-td-01">备注</td>
                        <td><textarea class="rr-area textfocus">选填项</textarea></td>
                    </tr>
                </table>
            </div>
            
            
        </div>
        
        <!--以上是中间内容-->
        
        
        
        <!--以下是预定-->
        <div class="public-reserve">
        	<a href="register.html"><img class="public-btn-reserve" src="./resource/scbridge/img/hotel-reserve_03.png"></a>
        </div>
        <!--以上是预定-->
        
        
       <!--以下是浮动的底部-->
       <div class="public-foot">
       		<a href="#"><img class="public-foot-01" src="./resource/scbridge/img/member-center_16.png"></a>
            <a href="#"><img class="public-foot-02" src="./resource/scbridge/img/member-center_17.png"></a>
            <a href="#"><img class="public-foot-03" src="./resource/scbridge/img/member-center_18.png"></a>
       </div>
       <!--以上是浮动的底部 -->
        
</div>
</body>
</html>
