<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/store-nav.css" />
</head>
<body>
	<div class="ma">
		<!--以下是中间内容-->
        <div class="sn-content">
        	<!--<img style="width:100%;" src="img/hotel-reserve/hotel-reserve_01.png">-->
            <img width="100%" style="margin-bottom:3px;" src="./resource/scbridge/img/store/store_01.png">
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=1">
            	<div class="sn-nav">
                	<h1 class="sn-h1">奢侈品</h1>
                    <p class="sn-p1">奢侈品的介绍（需要添加）</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=2">
            	<div class="sn-nav">
                	<h1 class="sn-h1">贵金属</h1>
                    <p class="sn-p1">金银等贵金属</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=3">
            	<div class="sn-nav">
                	<h1 class="sn-h1">当季水果</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=4">
            	<div class="sn-nav">
                	<h1 class="sn-h1">生活用品</h1>
                    <p class="sn-p1">酒店里所需要用到的各种物品</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=5">
            	<div class="sn-nav">
                	<h1 class="sn-h1">酒水饮品</h1>
                    <p class="sn-p1">啤酒，葡萄酒以及威士忌</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=6">
            	<div class="sn-nav">
                	<h1 class="sn-h1">其他产品</h1>
                    <p class="sn-p1">其他相关商品</p>
                </div>
            </a>
</div>
</div>
</body>
</html>
