<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/public.css" />
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/store.css" />
<script type="text/javascript" src="./resource/scbridge/js/jquery.min.js"></script>
<script type="text/javascript" src="./resource/scbridge/js/store.js"></script>
<title>商城</title>

</head>

<style>
.pr-li-02 a{
	color:#ffffff;
}
</style>

<body>
	<div class="ma">
    	<!--以下是头部-->
        <div class="public-head-father">
            <div class="public-head" style="padding-right:30%; padding-left: 10%;">
            	{$title}
                <img class="public-left"  src="./resource/scbridge/img/header-left.png" onclick="javascript:window.history.back(-1);">
                
                <div class="public-right">
                	<ul class="pr-ul">
                    	<li class="pr-li-01">更多<br><img class="pr-img" src="./resource/scbridge/img/header-bottom.png"></li>
                        <li class="pr-li-02"><a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=1">奢侈品</a></li>
                        <li class="pr-li-02"><a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=2">贵金属</a></li>
                        <li class="pr-li-02"><a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=3">当季水果</a></li>
                        <li class="pr-li-02"><a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=4">生活用品</a></li>
                        <li class="pr-li-02"><a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=5">酒水饮品</a></li>
                        <li class="pr-li-02"><a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=6">其他商品</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--以上是头部-->
        <!--以下是中间内容-->
        <div class="s-content">
        	<img width="100%" src="./resource/scbridge/img/store/store_01.png" >
            <div class="s-c-body">
                <div class="s-list">
                    <!--以下是导航一-->
                    <div class="s-list-01">
                       {loop $goods $re}
                        <a href="./index.php?act=module&name=scbridge&do=goods_content&good_id={$re['id']}&good_type={$good_type}">	
                            <div class="s-goods">
                                <img class="s-g-img" src="{$_W['attachurl']}{$re['icon']}">
                                <ul class="s-ul">
                                    <li><h1>{$re['name']}</h1></li>
                                    <li style="margin-top:5px;">单价&nbsp;：<span>{$re['price']}</span>&nbsp;&yen;</li>
                                    <li><p>{$re['brief_intro']}</p></li>
                                </ul>
                            </div>
                        </a>
                       {/loop}
                    </div>
                    <!--以上是导航一-->
                   
            	</div>

            </div>
        </div>
        <!--以上是中间内容-->
        
     
        
</div>
</body>
</html>
