<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="./resource/scbridge/css/store-nav.css" />
<title>homepage</title>
<style type="text/css">

</style>
</head>

<body>
	<div class="ma">
		<!--以下是中间内容-->
        <div class="sn-content">
        	<!--<img style="width:100%;" src="img/hotel-reserve/hotel-reserve_01.png">-->
            <img width="100%" style="margin-bottom:3px;" src="./resource/scbridge/img/store/store_01.png">
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=1">
            	<div class="sn-nav">
                	<h1 class="sn-h1">产品1</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=2">
            	<div class="sn-nav">
                	<h1 class="sn-h1">产品2</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=3">
            	<div class="sn-nav">
                	<h1 class="sn-h1">产品3</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=4">
            	<div class="sn-nav">
                	<h1 class="sn-h1">产品4</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=5">
            	<div class="sn-nav">
                	<h1 class="sn-h1">产品5</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            <a href="./index.php?act=module&name=scbridge&do=shop_list&good_type=6">
            	<div class="sn-nav">
                	<h1 class="sn-h1">产品6</h1>
                    <p class="sn-p1">我们只能给你推荐当下最新鲜最好的水果</p>
                </div>
            </a>
            	

            
            
        </div>
        
        <!--以上是中间内容-->
        
        
        
 
     
        
</div>
</body>
</html>
